#filter-navigator {
  float: left;
  padding: 10px;
}

#items-list {
  list-style-type: none;
  padding: 18px;
}

#filter {
  margin-left: 17px;
  padding: 10px;
}

#toggle-nav {
  position: absolute;
  width: 30px;
  font-size: 30px;
  cursor: pointer;
  fill: #3a4245;
  right: 25px;
  top: 5px;
  z-index: 5;
}

.elementss {
  cursor: pointer;
  padding: 10px;
}


.close {
  margin-left: -20px;
  width: 0;
}
